extends ../layouts/common
block content 
    h1 Login 

    if errors
        each error in errors 
            div(class='alert alert-danger')= error 

    form(method='POST') 
        div(class='form-group')
            label(for='email') Email 
            input(type="text", name='email' class='form-control' id='email', value= value ? value.email : "") 

        div(class='form-group')
            label(for='password') Password 
            input(type="text", name='password' class='form-control' id='password', value= value ? value.password : "") 
             
        button(class='btn btn-primary') Login 